// GLOBAL
// NAVAGATION BAR STARTS

$globalfont: verdana;

$sitenamecolor: #335576;

$linkcolor: black;

$linkselector: #db7a4e;

// NAVAGATION BAR ENDS

// FOOTER STARTS

$footerbackgroundcolor: #fefaf5;

$footertextcolor: #335576;

$footerhourscolor: #db7a4e;

// FOOTER ENDS
// GLOBAL

// TRAVELSITE STARTS
// HERO SECTION STARTS

$herobackgroundcolor: #fff0ed;

$herotextcolor: #335576;

$buttoncolor: #db7a4e;

$buttoncolortext: white;

// HERO SECTION ENDS

// RECOMMENDATION SECTION STARTS

$recommedationstextcolor: #335576;

$recommedationcardtitlecolor: white;

// RECOMMENDATION SECTION ENDS
// TRAVELSITE ENDS

// DESTINATION PAGE BEGINS

$itinerarytitlecolor: #fff0ed;

$cardbackgroundcolor: white;

$cardtextcolor: black;

$cardtitleunderlinecolor: black;

// DESTINATION PAGE ENDS
